@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

* {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.05786em;
}

body {
  --dark-color: rgb(39, 39, 39);
  --dark-transparent-color: rgba(39, 39, 39, 0.99);
  --primary-color: #212121;
  --secondary-color: rgb(196, 196, 196);
  --text-color: #212121;
  --contrast-color: white;

  background-color: var(--primary-color);

  padding: 0;
  margin: 0;

  color: white; //default

  &.dark {
    color: black;
  }
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;

  >header {
    align-items: flex-start;

    padding: 2em 64px 1.5em 64px;
    border-bottom: 2px dashed var(--secondary-color);

    >div {
      display: inline-block;
      width: calc(50% - 51px);
    }

    >nav {
      display: inline-block;
      width: calc(50% - 32px);
      height: 100%;
      vertical-align: middle;
      text-align: right;
      padding-right: 32px;

      >a {
        color: var(--contrast-color);
        margin-right: 16px;
        padding-bottom: 8px;
        text-decoration: none;

        border-bottom: 1px solid;
        cursor: pointer;

        &.active {
          font-weight: bold;
        }
      }
    }

    h1 {
      margin-bottom: 0;
    }

    >img {
      width: 51px;
    }
  }

  #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;

    >div.main {
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      display: flex;

      >.main-wrapper {
        width: 480px;

        >.input-wrapper {
          margin-bottom: 36px;
        }
      }
    }

    >div.navbar {
      align-items: flex-start;
      justify-content: space-between;
      display: flex;
      padding: 1.5em 64px 1.5em 64px;
      border-top: 2px dashed var(--secondary-color);

      >div.section {
        width: calc((100% / 3) - (16px * 3));

        &.random-wrapper .content {
          margin-block-start: 1em;
          margin-block-end: 1em;
        }
      }
    }

    >.image-input--wrapper,
    >.colors {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    >.image-input--wrapper {
      #image {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      #image+label {
        font-size: 1.25em;
        font-weight: 700;
        color: var(--text-color);
        background-color: var(--secondary-color);
        display: inline-block;
        cursor: pointer;

        padding: 8px 16px;
        border-radius: 5px;
      }
    }

    .colors {
      flex-direction: column;

      .color-image {
        background-color: rgba(0, 0, 0, 0.1);
        width: 280px;
        height: 280px;
      }
    }
  }

  .section {
    &.contrast-wrapper .content {
      text-align: center;
      padding: 16px 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-top: 8px;
    }
  }

  .label {
    font-size: 0.7rem;

    >.heading {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .button {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 2px;

    text-align: center;
    font-weight: bold;
    font-size: 14px;

    display: block;
    width: 100%;
    cursor: pointer;

    outline: none;
    border: none;

    padding: 11px 16px;
  }

  .convert-wrapper {
    padding-inline-start: unset;

    >.button:last-child {
      margin-right: 0;
    }

    >.button {
      margin-right: 16px;
      display: inline-block;
      width: calc((100% / 3) - (43px));
    }
  }

  .icon {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;

    &.icon-bookmark--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M17,11v6.97l-5-2.14l-5,2.14V5h6V3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V11H17z M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z'/%3E%3C/svg%3E");
    }

    &.icon-bookmark--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M17,11v6.97l-5-2.14l-5,2.14V5h6V3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V11H17z M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z'/%3E%3C/svg%3E");
    }

    &.icon-copy--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    }

    &.icon-copy--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    }

    &.icon-close--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    }

    &.icon-close--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    }
  }
}

@media only screen and (max-width: 768px) {
  #app {
    padding: 16px;
    height: calc(100% - 32px);

    header {
      padding: 0 0 1em 0;
      border-bottom: none;

      >div {
        display: block;
        width: calc(100% - 51px);

        h1 {
          margin-top: 0;
        }
      }

      >nav {
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        padding: 8px 0;

        >a {
          font-size: 13px;

          &.active {
            font-weight: bold;
          }
        }
      }

      >img {
        width: 32px;
        position: fixed;
        top: 16px;
        right: 16px;
      }
    }

    #content {
      display: block;
      position: relative;

      >div.main {
        padding-top: 1em;

        div.main-wrapper {
          width: 100%;

          >div.input-wrapper {
            margin-bottom: 1em;
          }
        }
      }

      >div.navbar {
        display: block;
        border-top: none;
        padding: 1em 0 0 0;

        >div.section {
          width: auto;
        }
      }
    }

    .gradient-boxs {
      >.gradient-box {
        height: calc((100vw - 32px) / 8);
        width: calc((100vw - 32px) / 8);
      }
    }
  }
}