@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

* {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.05786em;
}

body {
  --dark-color: rgb(39, 39, 39);
  --dark-transparent-color: rgba(39, 39, 39, 0.99);
  --primary-color: #212121;
  --secondary-color: rgb(196, 196, 196);
  --text-color: #212121;
  --contrast-color: white;
  --black-contrast: rgba(0, 0, 0, 0.15);
  --white-contrast: rgba(255, 255, 255, 0.15);

  background-color: var(--primary-color);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  margin: 0;

  color: white;

  &.dark {
    color: black;
  }
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em 64px 1.5em 64px;
    border-bottom: 2px dashed var(--secondary-color);

    .header-title {
      h1 {
        margin: 0;
      }
    }

    .header-menu {
      display: flex;
      align-items: center;

      nav {
        display: flex;
        text-align: right;
        padding-right: 32px;

        a {
          color: var(--contrast-color);
          margin-right: 16px;
          padding-bottom: 8px;
          text-decoration: none;

          border-bottom: 1px solid;
          cursor: pointer;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

  #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;

    >div.main {
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      display: flex;

      >.main-wrapper {
        width: 480px;

        >.input-wrapper {
          margin-bottom: 36px;
        }
      }
    }

    >div.navbar {
      align-items: flex-start;
      justify-content: space-between;
      display: flex;
      padding: 1.5em 64px 1.5em 64px;
      border-top: 2px dashed var(--secondary-color);

      >div.section {
        width: calc((100% / 3) - (16px * 3));

        &.random-wrapper .content {
          margin: .5em 0;

          button {
            width: 100%;
          }
        }
      }
    }
  }

  .section {
    &.contrast-wrapper .content {
      text-align: center;
      padding: 16px 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-top: 8px;
    }
  }

  .label {
    font-size: 0.7rem;

    >.heading {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .button {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 2px;

    text-align: center;
    font-weight: bold;
    font-size: 14px;

    display: block;
    cursor: pointer;

    outline: none;
    border: none;

    padding: 11px 16px;
  }

  #modal {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.25);

    transform: scale(1);

    &:not(.active) {
      transition-delay: .2s;
      transform: scale(0);
    }

    .modal {
      padding: 16px;
      box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
        0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

      border-radius: 0.5em;

      &[tabindex] {
        outline: none !important;
      }

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal-header--action {
          display: flex;
          align-items: center;

          .action-switch {
            margin-right: 16px;
            display: flex;

            >.action-switch--item {
              padding: 4px 8px;
              border: 1px solid var(--secondary-color);
              cursor: pointer;

              &:first-child {
                border-radius: 4px 0 0 4px;
              }

              &:last-child {
                border-radius: 0 4px 4px 0;
              }

              &.active {
                background-color: var(--secondary-color);
                color: var(--text-color);
              }
            }
          }

          .icon {
            width: 18px !important;
            height: 18px !important;

            cursor: pointer;
          }
        }
      }
    }
  }

  .icon {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;

    &.icon-lg {
      height: 40px;
      width: 40px;
    }

    &.icon-bookmark--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M17,11v6.97l-5-2.14l-5,2.14V5h6V3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V11H17z M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z'/%3E%3C/svg%3E");
    }

    &.icon-bookmark--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M17,11v6.97l-5-2.14l-5,2.14V5h6V3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V11H17z M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z'/%3E%3C/svg%3E");
    }

    &.icon-copy--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    }

    &.icon-copy--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    }

    &.icon-close--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    }

    &.icon-close--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    }

    &.icon-style--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M16.56,8.94L7.62,0L6.21,1.41l2.38,2.38L3.44,8.94c-0.59,0.59-0.59,1.54,0,2.12l5.5,5.5C9.23,16.85,9.62,17,10,17 s0.77-0.15,1.06-0.44l5.5-5.5C17.15,10.48,17.15,9.53,16.56,8.94z M5.21,10L10,5.21L14.79,10H5.21z M19,11.5c0,0-2,2.17-2,3.5 c0,1.1,0.9,2,2,2s2-0.9,2-2C21,13.67,19,11.5,19,11.5z M2,20h20v4H2V20z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &.icon-style--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M16.56,8.94L7.62,0L6.21,1.41l2.38,2.38L3.44,8.94c-0.59,0.59-0.59,1.54,0,2.12l5.5,5.5C9.23,16.85,9.62,17,10,17 s0.77-0.15,1.06-0.44l5.5-5.5C17.15,10.48,17.15,9.53,16.56,8.94z M5.21,10L10,5.21L14.79,10H5.21z M19,11.5c0,0-2,2.17-2,3.5 c0,1.1,0.9,2,2,2s2-0.9,2-2C21,13.67,19,11.5,19,11.5z M2,20h20v4H2V20z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &.icon-palette--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M12,22C6.49,22,2,17.51,2,12S6.49,2,12,2s10,4.04,10,9c0,3.31-2.69,6-6,6h-1.77c-0.28,0-0.5,0.22-0.5,0.5 c0,0.12,0.05,0.23,0.13,0.33c0.41,0.47,0.64,1.06,0.64,1.67C14.5,20.88,13.38,22,12,22z M12,4c-4.41,0-8,3.59-8,8s3.59,8,8,8 c0.28,0,0.5-0.22,0.5-0.5c0-0.16-0.08-0.28-0.14-0.35c-0.41-0.46-0.63-1.05-0.63-1.65c0-1.38,1.12-2.5,2.5-2.5H16 c2.21,0,4-1.79,4-4C20,7.14,16.41,4,12,4z'/%3E%3Ccircle cx='6.5' cy='11.5' r='1.5'/%3E%3Ccircle cx='9.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='14.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='17.5' cy='11.5' r='1.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &.icon-palette--black {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M12,22C6.49,22,2,17.51,2,12S6.49,2,12,2s10,4.04,10,9c0,3.31-2.69,6-6,6h-1.77c-0.28,0-0.5,0.22-0.5,0.5 c0,0.12,0.05,0.23,0.13,0.33c0.41,0.47,0.64,1.06,0.64,1.67C14.5,20.88,13.38,22,12,22z M12,4c-4.41,0-8,3.59-8,8s3.59,8,8,8 c0.28,0,0.5-0.22,0.5-0.5c0-0.16-0.08-0.28-0.14-0.35c-0.41-0.46-0.63-1.05-0.63-1.65c0-1.38,1.12-2.5,2.5-2.5H16 c2.21,0,4-1.79,4-4C20,7.14,16.41,4,12,4z'/%3E%3Ccircle cx='6.5' cy='11.5' r='1.5'/%3E%3Ccircle cx='9.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='14.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='17.5' cy='11.5' r='1.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .bg-white-contrast {
    background-color: var(--white-contrast);
  }

  .bg-black-contrast {
    background-color: var(--black-contrast);
  }
}

@media only screen and (max-width: 768px) {
  #app {
    padding: 16px;
    height: calc(100% - 32px);

    header {
      padding: 0 0 .8em 0;
      border-bottom: none;
      flex-direction: column;

      .header-title {
        width: 100%;
        margin-bottom: 8px;

        h1 {
          font-size: 1.5em;
        }

        span {
          font-size: .8em;
        }
      }

      .header-menu {
        width: 100%;

        nav {
          text-align: left;
          padding: 8px 0;

          >a {
            font-size: .83em;
            margin-right: 12px;

            &.active {
              font-weight: bold;
            }
          }
        }

        .icon.icon-lg {
          position: fixed;
          top: 1em;
          right: 1em;
        }
      }
    }

    #content {
      display: block;
      position: relative;

      >div.main {
        padding-top: 0;

        div.main-wrapper {
          width: 100%;

          >div.input-wrapper {
            margin-bottom: 1em;
          }
        }
      }

      >div.navbar {
        display: block;
        border-top: none;
        padding: 1em 0 0 0;

        >div.section {
          width: auto;
        }
      }

      .contrast-wrapper .content {
        font-size: .9em;
        padding: 12px 0;
      }
    }

    .gradient-boxs {
      margin-bottom: 1.5rem;

      >.gradient-box {
        height: calc((100vw - 32px) / 9);
        width: calc((100vw - 32px) / 9);
      }
    }

    .contrast-result--items .contrast-result--item {
      width: calc((100% / 4) - 8px);
      padding: 8px 4px;

      &:after {
        width: 12px;
        height: 12px;
      }

      .item-subtitle {
        font-size: .55em;
      }
    }

    .modal {
      width: 90%;
    }
  }
}